.end-of-section {
  margin-bottom: 24px; }
  @media (min-width: 480px) {
    .end-of-section {
      margin-bottom: 36px; } }
  @media (min-width: 720px) {
    .end-of-section {
      margin-bottom: 48px; } }
  @media (min-width: 900px) {
    .end-of-section {
      margin-bottom: 60px; } }
  @media (min-width: 1248px) {
    .end-of-section {
      margin-bottom: 72px; } }

@media (min-width: 1248px) {
  .extra-padding-left-lg {
    padding-left: 48px; } }

@media (min-width: 1248px) {
  .extra-padding-mmd-top {
    padding-top: 24px; } }

.img--modal {
  max-width: 300px;
  max-height: 90vh;
  margin: auto; }
  @media (min-width: 480px) {
    .img--modal {
      max-width: 400px; } }
  @media (min-width: 1248px) {
    .img--modal {
      max-width: 480px; } }

@viewport {
  width: device-width; }
html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #484c55;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%; }

a {
  background: transparent;
  color: #ffb3a1;
  text-decoration: none;
  transition: color .2s; }

.img {
  display: block;
  width: 100%;
  margin: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

/*
section,div{
  margin: 0;
  padding: 0;
}

.row,.container-fluid{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
p{
  margin-bottom: 0;
}*/
.header__title {
  font-family: "Playfair Display", serif;
  font-size: 6.5vw;
  color: #26272a;
  font-weight: 700;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
  font-style: normal;
  margin: -3.2vw 0 0 0;
  padding: 0;
  text-align: center; }
  .header__title .first {
    font-family: "Parisienne", cursive;
    font-size: 8.5vw;
    color: #ffb3a1;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal;
    height: 0;
    word-spacing: -1.5vw; }
    .header__title .first::first-letter {
      display: inline-block;
      margin-right: -2vw;
      font-size: 11.5vw; }
  @media (min-width: 1248px) {
    .header__title {
      font-size: 5.7vw;
      letter-spacing: .4vw;
      margin: -2.5vw 0 0 0; }
      .header__title .first {
        font-size: 6.5vw; }
        .header__title .first::first-letter {
          font-size: 9vw;
          margin-right: -1.5vw; } }
  @media (min-width: 1500px) {
    .header__title {
      font-size: 5.2vw;
      letter-spacing: .3vw;
      margin: -2.2vw 0 0 0; }
      .header__title .first {
        font-size: 6vw; }
        .header__title .first::first-letter {
          font-size: 8.2vw;
          margin-right: -1.2vw; } }
  @media (min-width: 1875px) {
    .header__title {
      font-size: 96px;
      letter-spacing: 5px;
      margin: -40px 0 0 0; }
      .header__title .first {
        font-size: 120px; }
        .header__title .first::first-letter {
          font-size: 156px;
          margin-right: -25px; } }

.header__author {
  color: #26272a;
  font-size: 1.8vw;
  font-family: "Playfair Display", serif; }
  .header__author .first {
    font-style: italic; }
  .header__author .last {
    text-transform: uppercase;
    font-weight: 700; }
  @media (min-width: 1248px) {
    .header__author {
      font-size: 18px; } }

.grid-collage_title {
  margin: 0;
  padding: 0;
  text-align: center; }
  .grid-collage_title .first {
    font-family: "Playfair Display", serif;
    font-size: 6.5vw;
    color: #26272a;
    font-weight: 400;
    letter-spacing: 0.3vw;
    text-transform: uppercase;
    font-style: normal; }
  .grid-collage_title .middle {
    font-family: "Playfair Display", serif;
    font-size: 11vw;
    color: #26272a;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    font-style: italic; }
  .grid-collage_title .last {
    font-family: "Parisienne", cursive;
    font-size: 11vw;
    color: #ffb3a1;
    font-weight: 400;
    text-transform: none;
    font-style: normal; }
  @media (min-width: 720px) {
    .grid-collage_title .first {
      font-size: 6.3vw;
      letter-spacing: .5vw; }
    .grid-collage_title .middle {
      font-size: 11vw; }
    .grid-collage_title .last {
      font-size: 11vw; } }
  @media (min-width: 900px) {
    .grid-collage_title .first {
      letter-spacing: .8vw; }
    .grid-collage_title .middle {
      font-size: 11vw; }
    .grid-collage_title .last {
      font-size: 10.2vw; } }
  @media (min-width: 1248px) {
    .grid-collage_title .first {
      font-size: 5vw;
      letter-spacing: .8vw; }
    .grid-collage_title .middle {
      font-size: 8vw; }
    .grid-collage_title .last {
      font-size: 8vw; } }
  @media (min-width: 1500px) {
    .grid-collage_title .first {
      font-size: 4.4vw;
      letter-spacing: .8vw; }
    .grid-collage_title .middle {
      font-size: 8vw; }
    .grid-collage_title .last {
      font-size: 7.5vw; } }
  @media (min-width: 1875px) {
    .grid-collage_title .first {
      font-size: 84px;
      letter-spacing: 10px; }
    .grid-collage_title .middle {
      font-size: 132px; }
    .grid-collage_title .last {
      font-size: 132px; } }

.modal__collage__close-button {
  position: absolute;
  z-index: 10000;
  right: 0;
  color: #da2828;
  font-size: 24px;
  opacity: .9;
  text-shadow: 2px 0px 1px #000000;
  margin-right: 12px; }
  @media (min-width: 1248px) {
    .modal__collage__close-button {
      font-size: 30px; } }

.nature__title {
  font-family: "Playfair Display", serif;
  font-size: 12vw;
  color: white;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  font-style: italic;
  line-height: 10vw;
  text-align: center;
  margin-bottom: 0; }
  .nature__title .middle {
    font-family: "Playfair Display", serif;
    font-size: 12vw;
    color: #ffb3a1;
    font-weight: 400;
    text-transform: none;
    font-style: normal; }
  .nature__title .last {
    font-family: "Playfair Display", serif;
    font-size: 12vw;
    color: white;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    font-style: normal; }
  @media (min-width: 720px) {
    .nature__title {
      font-size: 12vw; }
      .nature__title .middle {
        font-size: 12vw; }
      .nature__title .last {
        font-size: 12vw; } }
  @media (min-width: 900px) {
    .nature__title {
      font-size: 12vw; }
      .nature__title .middle {
        font-size: 12vw; }
      .nature__title .last {
        font-size: 12vw; } }
  @media (min-width: 1248px) {
    .nature__title {
      font-size: 96px;
      line-height: 84px; }
      .nature__title .middle {
        font-size: 96px; }
      .nature__title .last {
        font-size: 120px; } }
  @media (min-width: 1500px) {
    .nature__title {
      font-size: 108px;
      line-height: 100px; }
      .nature__title .middle {
        font-size: 108px; }
      .nature__title .last {
        font-size: 132px;
        letter-spacing: -3px; } }
  @media (min-width: 1875px) {
    .nature__title {
      font-size: 120px;
      line-height: 100px; }
      .nature__title .middle {
        font-size: 120px; }
      .nature__title .last {
        font-size: 132px;
        letter-spacing: -3px;
        font-weight: 700; } }

.dorotea__content--color::first-letter {
  color: #ffb3a1 !important; }
@media (min-width: 480px) {
  .dorotea__content--color {
    color: white !important; } }

@media (min-width: 1248px) {
  .nature__verse-container {
    margin: 24px 0; } }

.dorotea__verse--color {
  color: white !important; }

.texture__title {
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  color: #26272a;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  font-style: normal;
  line-height: 8vw;
  text-align: center;
  word-spacing: -2vw;
  margin-bottom: 12px; }
  .texture__title .first {
    font-weight: 900;
    font-size: 14vw;
    letter-spacing: -.5vw; }
  .texture__title .middle {
    text-transform: uppercase;
    font-size: 11vw;
    letter-spacing: -.7vw; }
  .texture__title .last {
    font-family: "Parisienne", cursive;
    font-size: 16vw;
    color: #ffb3a1;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: capitalize;
    font-style: normal; }

@media (min-width: 480px) {
  .texture__title {
    line-height: 6vw;
    word-spacing: -1vw; }
    .texture__title .first {
      font-size: 11vw;
      letter-spacing: -.5vw; }
    .texture__title .middle {
      font-size: 8vw;
      letter-spacing: -.7vw; }
    .texture__title .last {
      font-size: 12vw; } }
@media (min-width: 720px) {
  .texture__title {
    line-height: 6vw;
    word-spacing: -1vw; }
    .texture__title .first {
      font-size: 11vw;
      letter-spacing: -.5vw; }
    .texture__title .middle {
      font-size: 8vw;
      letter-spacing: -.7vw; }
    .texture__title .last {
      font-size: 12vw; } }
@media (min-width: 900px) {
  .texture__title {
    line-height: 5vw;
    word-spacing: -1vw; }
    .texture__title .first {
      font-size: 9vw;
      letter-spacing: -.5vw; }
    .texture__title .middle {
      font-size: 6vw;
      letter-spacing: -.7vw; }
    .texture__title .last {
      font-size: 9vw; } }
@media (min-width: 1248px) {
  .texture__title {
    line-height: 5vw;
    word-spacing: -1vw; }
    .texture__title .first {
      font-size: 9vw;
      letter-spacing: -.5vw; }
    .texture__title .middle {
      font-size: 5vw;
      letter-spacing: -.7vw; }
    .texture__title .last {
      font-size: 9vw; } }
@media (min-width: 1500px) {
  .texture__title {
    line-height: 55px;
    word-spacing: -30px; }
    .texture__title .first {
      font-size: 132px;
      letter-spacing: -.5vw; }
    .texture__title .middle {
      font-size: 72px; }
    .texture__title .last {
      font-size: 132px; } }
@media (min-width: 1875px) {
  .texture__title {
    line-height: 55px;
    word-spacing: -30px; }
    .texture__title .first {
      font-size: 132px;
      letter-spacing: -.5vw; }
    .texture__title .middle {
      font-size: 72px; }
    .texture__title .last {
      font-size: 132px; } }
.piece {
  width: 100%;
  align-items: center;
  padding: 2vw 2vw 0; }
  @media (min-width: 320px) {
    .piece {
      width: 50%; } }
  @media (min-width: 900px) {
    .piece {
      width: 33%; } }
  @media (min-width: 1500px) {
    .piece {
      width: 25%;
      padding: 36px 24px 0; } }

.pieces__title {
  font-family: "Playfair Display", serif;
  font-size: 12vw;
  color: #26272a;
  font-weight: 900;
  letter-spacing: 0;
  text-transform: uppercase;
  font-style: normal;
  line-height: 8.5vw;
  text-align: center;
  border-radius: 100%; }
  .pieces__title .first {
    font-family: "Parisienne", cursive;
    font-size: 16vw;
    color: #26272a;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal; }
  .pieces__title .last {
    font-family: "Parisienne", cursive;
    font-size: 13vw;
    color: #ffb3a1;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal; }
  @media (min-width: 480px) {
    .pieces__title {
      font-size: 9vw;
      line-height: 7vw; }
      .pieces__title .first {
        font-size: 13vw; }
      .pieces__title .last {
        font-size: 11vw; } }
  @media (min-width: 720px) {
    .pieces__title .texture__title {
      line-height: 6vw;
      word-spacing: -1vw; }
      .pieces__title .texture__title .first {
        font-size: 11vw;
        letter-spacing: -.5vw; }
      .pieces__title .texture__title .middle {
        font-size: 8vw;
        letter-spacing: -.7vw; }
      .pieces__title .texture__title .last {
        font-size: 12vw; } }
  @media (min-width: 900px) {
    .pieces__title {
      font-size: 7vw;
      line-height: 5vw; }
      .pieces__title .first {
        display: block;
        font-size: 7vw; }
      .pieces__title .last {
        display: block;
        font-size: 9vw; } }
  @media (min-width: 1248px) {
    .pieces__title {
      line-height: 70px;
      font-size: 84px; }
      .pieces__title .first {
        font-size: 84px;
        letter-spacing: 0; }
      .pieces__title .last {
        font-size: 108px; } }
  @media (min-width: 1500px) {
    .pieces__title {
      line-height: 70px;
      font-size: 84px; }
      .pieces__title .first {
        font-size: 84px;
        letter-spacing: 0; }
      .pieces__title .last {
        font-size: 108px; } }
  @media (min-width: 1875px) {
    .pieces__title {
      line-height: 80px;
      font-size: 120px; }
      .pieces__title .first {
        font-size: 108px;
        letter-spacing: 0; }
      .pieces__title .last {
        font-size: 144px; } }

.piece__title {
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  color: #484c55;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  font-style: normal;
  line-height: 6.5vw;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center; }
  .piece__title .first {
    display: block;
    font-family: "Parisienne", cursive;
    font-size: 12.5vw;
    color: #ffb3a1;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    font-style: normal; }
    .piece__title .first--plate {
      display: inline-block; }
  @media (min-width: 320px) {
    .piece__title {
      top: 0;
      font-size: 4vw;
      line-height: 4vw; }
      .piece__title .first {
        font-size: 7.5vw; } }
  @media (min-width: 480px) {
    .piece__title {
      font-size: 3vw;
      line-height: 3vw; }
      .piece__title .first {
        font-size: 6vw; } }
  @media (min-width: 720px) {
    .piece__title {
      font-size: 2.8vw;
      line-height: 3vw; }
      .piece__title .first {
        font-size: 5vw; } }
  @media (min-width: 900px) {
    .piece__title {
      font-size: 1.8vw;
      line-height: 2vw; }
      .piece__title .first {
        font-size: 3.5vw; } }
  @media (min-width: 1248px) {
    .piece__title {
      /*font-size: 1.8vw;
      line-height: 2vw;
      .first{
        font-size:3.5vw;
      }*/ } }
  @media (min-width: 1500px) {
    .piece__title {
      font-size: 18px;
      line-height: 18px; }
      .piece__title .first {
        font-size: 36px; } }
  @media (min-width: 1875px) {
    .piece__title {
      font-size: 22px;
      line-height: 22px; }
      .piece__title .first {
        font-size: 40px; } }

/*it is NOT double content ('s')*/
.gallery__line {
  width: 100%;
  background: #f1f1f1;
  height: 1px;
  border: 0;
  margin-top: 6px;
  margin-bottom: 24px;
  box-shadow: 0px 1px 2px #efefef; }

.l-1 {
  display: block; }

@media (min-width: 320px) {
  .l-1, .l-3 {
    display: none; }

  .l-2 {
    display: block; } }
@media (min-width: 900px) {
  .l-2 {
    display: none; }

  .l-3 {
    display: block; }

  .gallery__line {
    width: 100%; } }
@media (min-width: 1500px) {
  .l-1, .l-2, .l-3 {
    display: none; }

  .l-4 {
    display: block; }

  .gallery__line {
    margin: 6px 0 0;
    width: 100%; } }
.piece__offer {
  order: 1; }
  @media (min-width: 320px) {
    .piece__offer {
      order: 0; } }
  @media (min-width: 900px) {
    .piece__offer {
      width: 40%;
      order: 0; } }
  @media (min-width: 1500px) {
    .piece__offer {
      width: 25%;
      order: 1; } }
  .piece__offer .piece__offer__list {
    list-style: none;
    padding-left: 0;
    padding-top: 24px; }

.piece__offer__title {
  position: relative;
  width: 100%;
  font-size: 7.5vw;
  text-align: center;
  margin-top: 8vw; }
  @media (min-width: 320px) {
    .piece__offer__title {
      font-size: 4vw;
      margin-top: 0;
      line-height: 3.5vw; } }
  @media (min-width: 720px) {
    .piece__offer__title {
      font-size: 2.5vw;
      margin-top: 0;
      line-height: 2.8vw; } }
  @media (min-width: 900px) {
    .piece__offer__title {
      font-size: 2.5vw;
      margin-top: 0;
      line-height: 2vw; } }
  @media (min-width: 1248px) {
    .piece__offer__title {
      font-size: 2.2vw;
      margin-top: 0;
      line-height: 1.8vw; } }
  @media (min-width: 1500px) {
    .piece__offer__title {
      font-size: 24px;
      margin-top: 0;
      line-height: 18px; } }
  @media (min-width: 1875px) {
    .piece__offer__title {
      font-size: 36px;
      margin-top: 0;
      line-height: 24px; } }
  .piece__offer__title .number {
    display: inline-block;
    font-family: "Parisienne", cursive;
    color: #ffb3a1;
    font-weight: 400;
    font-size: 20vw; }
    @media (min-width: 320px) {
      .piece__offer__title .number {
        font-size: 9vw; } }
    @media (min-width: 720px) {
      .piece__offer__title .number {
        font-size: 7.5vw; } }
    @media (min-width: 900px) {
      .piece__offer__title .number {
        font-size: 7vw; } }
    @media (min-width: 1248px) {
      .piece__offer__title .number {
        font-size: 4.4vw; } }
    @media (min-width: 1500px) {
      .piece__offer__title .number {
        font-size: 60px; } }
    @media (min-width: 1875px) {
      .piece__offer__title .number {
        font-size: 84px; } }
  .piece__offer__title .middle {
    font-family: "Parisienne", cursive;
    text-transform: none;
    font-size: 10vw;
    font-weight: 400; }
    @media (min-width: 320px) {
      .piece__offer__title .middle {
        font-size: 5vw; } }
    @media (min-width: 720px) {
      .piece__offer__title .middle {
        font-size: 4vw; } }
    @media (min-width: 900px) {
      .piece__offer__title .middle {
        font-size: 3.8vw; } }
    @media (min-width: 1248px) {
      .piece__offer__title .middle {
        font-size: 3vw; } }
    @media (min-width: 1500px) {
      .piece__offer__title .middle {
        font-size: 36px; } }
    @media (min-width: 1875px) {
      .piece__offer__title .middle {
        font-size: 48px; } }

.offer {
  font-size: 5vw;
  font-family: "Playfair Display", serif;
  text-transform: uppercase; }
  @media (min-width: 320px) {
    .offer {
      font-size: 3.5vw; } }
  @media (min-width: 480px) {
    .offer {
      font-size: 2.6vw; } }
  @media (min-width: 720px) {
    .offer {
      font-size: 2.4vw;
      letter-spacing: .2px; } }
  @media (min-width: 900px) {
    .offer {
      font-size: 1.8vw; } }
  @media (min-width: 1248px) {
    .offer {
      font-size: 1.5vw; } }
  @media (min-width: 1500px) {
    .offer {
      font-size: 16px; } }
  @media (min-width: 1875px) {
    .offer {
      font-size: 24px; } }
  .offer .offer--pink {
    color: #ffb3a1; }

.gallery__modal-header__title {
  font-size: 20px;
  position: relative; }
  .gallery__modal-header__title .first {
    display: inline-block;
    font-size: 36px;
    margin-left: -4px; }
  @media (min-width: 480px) {
    .gallery__modal-header__title {
      font-size: 24px; }
      .gallery__modal-header__title .first {
        display: inline-block;
        font-size: 48px;
        margin-left: -6px; } }

.gallery__modal-header__title--inserted {
  position: relative; }
  @media (min-width: 720px) {
    .gallery__modal-header__title--inserted {
      margin-top: 24px;
      font-size: 28px; }
      .gallery__modal-header__title--inserted .first {
        display: inline-block;
        font-size: 48px;
        margin-left: 0; } }
  @media (min-width: 900px) {
    .gallery__modal-header__title--inserted {
      margin-top: 24px;
      font-size: 28px; }
      .gallery__modal-header__title--inserted .first {
        display: inline-block;
        font-size: 48px;
        margin-left: 0; } }
  @media (min-width: 1248px) {
    .gallery__modal-header__title--inserted {
      margin-top: 24px;
      font-size: 28px;
      letter-spacing: 0; }
      .gallery__modal-header__title--inserted .first {
        display: inline-block;
        font-size: 48px;
        margin-left: 0; } }

.gallery__modal-header__button {
  position: absolute;
  right: 12px;
  top: 3px; }

.piece__offer__title--subtitle {
  position: relative;
  font-size: 14px; }
  .piece__offer__title--subtitle .first {
    font-size: 28px;
    display: inline-block; }
  @media (min-width: 480px) {
    .piece__offer__title--subtitle {
      font-size: 14px; }
      .piece__offer__title--subtitle .first {
        font-size: 28px; } }
  @media (min-width: 720px) {
    .piece__offer__title--subtitle {
      font-size: 14px; }
      .piece__offer__title--subtitle .first {
        font-size: 30px; } }
  @media (min-width: 900px) {
    .piece__offer__title--subtitle {
      font-size: 14px; }
      .piece__offer__title--subtitle .first {
        font-size: 30px; } }
  @media (min-width: 1248px) {
    .piece__offer__title--subtitle {
      font-size: 18px; }
      .piece__offer__title--subtitle .first {
        font-size: 36px; } }

.gallery__content {
  font-family: "Playfair Display", serif;
  margin-top: 24px;
  padding-left: 12px;
  padding-right: 12px; }

.gallery__pieces16-item {
  font-family: "Playfair Display", serif; }
  .gallery__pieces16-item a {
    font-weight: 900;
    color: #484c55; }

.gallery__fishing {
  text-align: center; }
  .gallery__fishing p {
    font-family: "Parisienne", cursive;
    font-size: 9.5vw;
    color: black;
    text-align: center;
    margin-bottom: 0; }
    @media (min-width: 480px) {
      .gallery__fishing p {
        font-size: 7vw; } }
    @media (min-width: 720px) {
      .gallery__fishing p {
        font-size: 6vw; } }
    @media (min-width: 900px) {
      .gallery__fishing p {
        font-size: 3.8vw; } }
    @media (min-width: 1248px) {
      .gallery__fishing p {
        font-size: 3vw; } }

.amazon__button {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb3a1+11,de6869+30,ffb3a1+67,de6869+95 */
  background: #ffb3a1;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a1', endColorstr='#de6869',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  /*
  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#ffb3a1+11,de6869+30,ffb3a1+67,de6869+95
  background-color: #ffb3a1; // Old browsers
  @include filter-gradient(#ffb3a1, #de6869, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left bottom, #ffb3a1 11%,#de6869 30%,#ffb3a1 67%,#de6869 95%));
  */
  font-family: "Playfair Display", serif;
  font-size: 6vw;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  letter-spacing: 1vw;
  border-radius: 25px; }
  @media (min-width: 480px) {
    .amazon__button {
      font-size: 4.5vw;
      letter-spacing: .5vw; } }
  @media (min-width: 720px) {
    .amazon__button {
      font-size: 3vw;
      letter-spacing: .5vw; } }
  @media (min-width: 900px) {
    .amazon__button {
      font-size: 28px;
      letter-spacing: 2px; } }
  @media (min-width: 1248px) {
    .amazon__button {
      font-size: 28px;
      letter-spacing: 2px; } }

i {
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 3vw;
  font-style: italic;
  letter-spacing: .1vw; }
  @media (min-width: 480px) {
    i {
      font-size: 2.2vw; } }
  @media (min-width: 720px) {
    i {
      font-size: 1.5vw; } }
  @media (min-width: 900px) {
    i {
      font-size: 11px; } }
  @media (min-width: 1248px) {
    i {
      font-size: 12px; } }

.gallery__modal-footer__content {
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 11px;
  margin-bottom: 0; }
  .gallery__modal-footer__content a {
    color: blue;
    text-decoration: underline; }
  .gallery__modal-footer__content span {
    font-style: italic; }

.amazon__title {
  position: relative;
  width: 100%;
  color: black;
  background: #ffb3a133;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 700;
  text-align: center; }
  @media (min-width: 480px) {
    .amazon__title {
      font-size: 96px; } }
  @media (min-width: 720px) {
    .amazon__title {
      font-size: 72px; } }
  @media (min-width: 900px) {
    .amazon__title {
      font-size: 84px; } }
  @media (min-width: 1248px) {
    .amazon__title {
      font-size: 180px; } }

.amazon__exclusive {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 11px;
  letter-spacing: 10px;
  font-style: italic;
  font-weight: 400;
  background: white;
  color: black;
  padding-bottom: 3px;
  text-shadow: 0 0 0 white; }
  @media (min-width: 480px) {
    .amazon__exclusive {
      font-size: 11px; } }
  @media (min-width: 720px) {
    .amazon__exclusive {
      font-size: 12px; } }
  @media (min-width: 900px) {
    .amazon__exclusive {
      font-size: 14px; } }
  @media (min-width: 1248px) {
    .amazon__exclusive {
      font-size: 18px; } }

.amazon__content {
  font-family: "Playfair Display", serif;
  font-size: 7px;
  color: #000;
  background: white;
  line-height: 12px;
  letter-spacing: .1vw;
  text-transform: uppercase;
  padding: 0;
  margin: 1vw 0;
  text-align: center; }
  @media (min-width: 480px) {
    .amazon__content {
      font-size: 8px; } }
  @media (min-width: 720px) {
    .amazon__content {
      font-size: 9px; } }
  @media (min-width: 1248px) {
    .amazon__content {
      font-size: 12px;
      line-height: 18px; } }
  @media (min-width: 1500px) {
    .amazon__content {
      font-size: 1vw;
      line-height: 1.5vw; } }

.subline-verse {
  width: 24px;
  background: #ffb3a1;
  height: 1px;
  border: 0;
  margin-top: 12px;
  margin-bottom: 12px; }
  @media (min-width: 720px) {
    .subline-verse {
      width: 48px; } }
  @media (min-width: 1248px) {
    .subline-verse {
      width: 72px; } }

.dorotea__verse {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #26272a;
  font-size: 10px;
  letter-spacing: 0.3px;
  line-height: 12px;
  margin-bottom: 0; }
  .dorotea__verse--grid {
    padding: 0 20%; }
  @media (min-width: 480px) {
    .dorotea__verse {
      font-family: "Playfair Display", serif;
      font-style: italic;
      color: #26272a;
      font-size: 2vw;
      letter-spacing: 0.15vw;
      line-height: 3vw; } }
  @media (min-width: 720px) {
    .dorotea__verse {
      font-family: "Playfair Display", serif;
      font-style: italic;
      color: #26272a;
      font-size: 1.8vw;
      letter-spacing: 0.1vw;
      line-height: 3vw; } }
  @media (min-width: 900px) {
    .dorotea__verse {
      font-family: "Playfair Display", serif;
      font-style: italic;
      color: #26272a;
      font-size: 1.4vw;
      letter-spacing: 0.1vw;
      line-height: 2.4vw; } }
  @media (min-width: 1248px) {
    .dorotea__verse {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 32px; } }
  @media (min-width: 1500px) {
    .dorotea__verse {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 32px; } }
  @media (min-width: 1875px) {
    .dorotea__verse {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 40px; } }

.dorotea__content {
  font-family: "Playfair Display", serif;
  color: #484c55;
  font-size: 11px;
  letter-spacing: 0.3px;
  line-height: 17px; }
  .dorotea__content::first-letter {
    font-family: "Parisienne", cursive;
    font-size: 36px;
    letter-spacing: -1px; }
  @media (min-width: 480px) {
    .dorotea__content {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 12px;
      letter-spacing: 0.5px;
      line-height: 20px; }
      .dorotea__content::first-letter {
        font-family: "Parisienne", cursive;
        font-size: 48px;
        letter-spacing: -1px; } }
  @media (min-width: 720px) {
    .dorotea__content {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 2vw;
      letter-spacing: 0.1vw;
      line-height: 3.8vw; }
      .dorotea__content::first-letter {
        font-family: "Parisienne", cursive;
        font-size: 9vw;
        letter-spacing: -0.5vw; } }
  @media (min-width: 900px) {
    .dorotea__content {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 1.5vw;
      letter-spacing: 0.1vw;
      line-height: 3vw; }
      .dorotea__content::first-letter {
        font-family: "Parisienne", cursive;
        font-size: 8vw;
        letter-spacing: -0.5vw; } }
  @media (min-width: 1248px) {
    .dorotea__content {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 44px; }
      .dorotea__content::first-letter {
        font-family: "Parisienne", cursive;
        font-size: 108px;
        letter-spacing: -5px; }
      .dorotea__content.dorotea__content--hand {
        margin-top: 156px; } }
  @media (min-width: 1500px) {
    .dorotea__content {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 44px; }
      .dorotea__content::first-letter {
        font-family: "Parisienne", cursive;
        font-size: 108px;
        letter-spacing: -5px; } }
  @media (min-width: 1875px) {
    .dorotea__content {
      font-family: "Playfair Display", serif;
      color: #484c55;
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 44px; }
      .dorotea__content::first-letter {
        font-family: "Parisienne", cursive;
        font-size: 108px;
        letter-spacing: -5px; } }

.grid-p {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px; }

.header__title-container {
  top: 50%;
  left: 0;
  background: white;
  margin: 0;
  padding: 0; }

.header__author-container {
  bottom: 0;
  left: 10%; }

#modal__collage .modal__collage__modal-body {
  padding: 3px; }
#modal__collage .modal__collage__modal-content {
  width: auto; }
#modal__collage .modal__collage__justify-content {
  justify-content: center; }

.nature__image-container {
  margin: 0;
  padding: 0; }

.nature__shadow-container {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); }

.nature__article {
  top: 0;
  left: 0; }

.nature__content-container {
  display: block;
  position: absolute;
  top: 100%; }
  @media (min-width: 480px) {
    .nature__content-container {
      position: relative;
      top: 0; } }

.gallery__list-pieces {
  flex: 1 1 100%;
  list-style: none;
  padding: 0; }
  @media (min-width: 320px) {
    .gallery__list-pieces {
      flex: 1 1 50%; } }
  @media (min-width: 900px) {
    .gallery__list-pieces {
      flex: 1 1 33%; } }
  @media (min-width: 1500px) {
    .gallery__list-pieces {
      flex: 1 1 25%; } }

.gallery__container-img {
  position: relative; }

.gallery__modal-header {
  position: relative;
  box-shadow: 0px 2px 2px #f4f4f4; }
  .gallery__modal-header .piece__title {
    margin-bottom: 0; }
    .gallery__modal-header .piece__title .first {
      display: inline-block; }
  @media (min-width: 720px) {
    .gallery__modal-header {
      display: none; } }

.gallery__modal-dialog {
  max-width: 350px;
  margin: auto; }
  @media (min-width: 480px) {
    .gallery__modal-dialog {
      max-width: 400px; } }
  @media (min-width: 720px) {
    .gallery__modal-dialog {
      max-width: 700px; } }

.gallery__modal-body {
  padding: 12px; }
  @media (min-width: 720px) {
    .gallery__modal-body {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex: 1 auto; }
      .gallery__modal-body .gallery__carousel {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .gallery__modal-body .gallery__carousel__offer {
        width: 50%; }
      .gallery__modal-body .gallery__modal-body__content--container {
        width: 40%;
        padding: 6px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; }
      .gallery__modal-body .gallery__modal-body__content--container__offer {
        width: 50%; } }
  .gallery__modal-body .gallery__carousel {
    padding-bottom: 24px; }
  .gallery__modal-body .gallery__carousel-indicators {
    top: 98%; }
    .gallery__modal-body .gallery__carousel-indicators .indicator {
      background-color: #ffb3a1 !important;
      height: 12px;
      border-radius: 6px;
      width: 12px; }
    .gallery__modal-body .gallery__carousel-indicators li.active {
      border: 3px solid white !important;
      background-color: black; }
  .gallery__modal-body .gallery__carousel-item--caption {
    padding-top: 24px; }
  .gallery__modal-body .gallery__carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 6px 0 0; }
    .gallery__modal-body .gallery__carousel-caption h5 {
      color: #484c55; }
  .gallery__modal-body .pieces16-list {
    list-style: circle;
    padding: 12px 16px 0; }

.gallery__modal-header--inserted {
  display: none; }
  @media (min-width: 720px) {
    .gallery__modal-header--inserted {
      display: block;
      position: relative; } }

.gallery__modal-footer {
  background: rgba(0, 0, 0, 0.08); }

body {
  background: #fff9f98c; }

.main {
  max-width: 1500px;
  background: white; }
  @media (min-width: 1248px) {
    .main {
      margin: auto;
      width: 90%;
      box-shadow: 0 0px 5px 0px #ffe9e4; } }
  @media (min-width: 1500px) {
    .main {
      margin: auto;
      width: 80%;
      box-shadow: 0 0px 5px 0px #ffe9e4; } }

.collage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-auto-flow: dense;
  padding-left: 0;
  padding-right: 0; }
  .collage div {
    padding: 1.5px; }
    @media (min-width: 480px) {
      .collage div {
        padding: 3px; } }

/****/
.grid-sm-1 {
  grid-column-end: span 1; }

.grid-order-sm-1 {
  order: 1; }

.grid-sm-2 {
  grid-column-end: span 2; }

.grid-order-sm-2 {
  order: 2; }

.grid-sm-3 {
  grid-column-end: span 3; }

.grid-order-sm-3 {
  order: 3; }

.grid-sm-4 {
  grid-column-end: span 4; }

.grid-order-sm-4 {
  order: 4; }

.grid-sm-5 {
  grid-column-end: span 5; }

.grid-order-sm-5 {
  order: 5; }

.grid-sm-6 {
  grid-column-end: span 6; }

.grid-order-sm-6 {
  order: 6; }

.grid-sm-7 {
  grid-column-end: span 7; }

.grid-order-sm-7 {
  order: 7; }

.grid-sm-8 {
  grid-column-end: span 8; }

.grid-order-sm-8 {
  order: 8; }

.grid-sm-9 {
  grid-column-end: span 9; }

.grid-order-sm-9 {
  order: 9; }

.grid-sm-10 {
  grid-column-end: span 10; }

.grid-order-sm-10 {
  order: 10; }

.grid-sm-11 {
  grid-column-end: span 11; }

.grid-order-sm-11 {
  order: 11; }

.grid-sm-12 {
  grid-column-end: span 12; }

.grid-order-sm-12 {
  order: 12; }

@media (min-width: 900px) {
  .grid-md-1 {
    grid-column-end: span 1; }

  .grid-order-md-1 {
    order: 1; }

  .grid-md-2 {
    grid-column-end: span 2; }

  .grid-order-md-2 {
    order: 2; }

  .grid-md-3 {
    grid-column-end: span 3; }

  .grid-order-md-3 {
    order: 3; }

  .grid-md-4 {
    grid-column-end: span 4; }

  .grid-order-md-4 {
    order: 4; }

  .grid-md-5 {
    grid-column-end: span 5; }

  .grid-order-md-5 {
    order: 5; }

  .grid-md-6 {
    grid-column-end: span 6; }

  .grid-order-md-6 {
    order: 6; }

  .grid-md-7 {
    grid-column-end: span 7; }

  .grid-order-md-7 {
    order: 7; }

  .grid-md-8 {
    grid-column-end: span 8; }

  .grid-order-md-8 {
    order: 8; }

  .grid-md-9 {
    grid-column-end: span 9; }

  .grid-order-md-9 {
    order: 9; }

  .grid-md-10 {
    grid-column-end: span 10; }

  .grid-order-md-10 {
    order: 10; }

  .grid-md-11 {
    grid-column-end: span 11; }

  .grid-order-md-11 {
    order: 11; }

  .grid-md-12 {
    grid-column-end: span 12; }

  .grid-order-md-12 {
    order: 12; } }
.nature {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-bottom: 95px; }
  @media (min-width: 480px) {
    .nature {
      padding: 0; } }

.amazon-affiliate-program {
  padding-left: 0;
  padding-right: 0;
  background-color: white;
  border: 1px #ffb3a133 solid;
  box-shadow: 0 0 4px #ebebeb;
  margin-bottom: 24px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb3a1+0,de6868+40,ffb3a1+85 */
  /*background: #ffb3a1; /* Old browsers */
  /*background: -moz-linear-gradient(45deg, #ffb3a1 0%, #de6868 40%, #ffb3a1 85%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(45deg, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(45deg, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a1', endColorstr='#ffb3a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*
  background-color: #ffb3a1; // Old browsers
  @include filter-gradient(#ffb3a1, #ffb3a1, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(linear-gradient(left bottom, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%));*/ }
  @media (min-width: 480px) {
    .amazon-affiliate-program {
      margin-bottom: 36px; } }
  @media (min-width: 720px) {
    .amazon-affiliate-program {
      margin-bottom: 48px; } }
  @media (min-width: 900px) {
    .amazon-affiliate-program {
      margin-bottom: 60px; } }
  @media (min-width: 1248px) {
    .amazon-affiliate-program {
      margin-bottom: 72px; } }

/*# sourceMappingURL=styles.css.map */
