
.gallery__modal-footer__content{
  color:black;
  font-family:$default-ff;
  font-size:11px;
  margin-bottom: 0;
  a{
    color:blue;
    text-decoration: underline;
  }
  span{
    font-style: italic;
  }
}
