
.go-top{
  color: black;
  border-radius: 100%;
  border:1px solid $color-primary;
  background-color: white;
  font-weight: 700;
  position: absolute;
  right:1%;
  bottom:1%;
  margin: auto;
  font-size:12px;
}
