//COMPASS [ line 9,  ]
.gallery__line{
  width: 100%;
  background: #f1f1f1;
  height: 1px;
  border: 0;
  margin-top: 6px;
  margin-bottom:24px;
  @include single-box-shadow(0px, 1px, 2px, 0, #efefef); 
}

.l-1{
  display: block;
}

@media(min-width: 320px){
  .l-1,.l-3{
    display: none;
  }
  .l-2{
    display: block;
  }
}
@media(min-width: map-get($breakpoints,md)){
  .l-2{
    display: none;
  }
  .l-3{
    display: block;
  }
  .gallery__line{
    width: 100%;
  }
}
@media(min-width: map-get($breakpoints,xlarge)){
  .l-1, .l-2, .l-3{
    display: none;
  }
  .l-4{
    display: block;
  }
  .gallery__line{
    margin:6px 0 0;
    width: 100%;
  }
}
