
.piece__offer{
  order:1;
  @media(min-width: 320px){
    order:0;
  }
  @media(min-width:map-get($breakpoints,md)){//change!
    width:40%;
    order:0;
  }
  @media(min-width:map-get($breakpoints,xlarge)){//change!
    width:25%;
    order:1;
  }
  .piece__offer__list{
    list-style: none;
    padding-left: 0;
    padding-top: 24px;
  }
}
